main{
	display: inline-grid;
}

.mainProfile{
	margin: 0 auto;
	color: #ddd;
	padding-top: 25px;
	box-shadow: 0 0 6px #555;
	position: absolute;
	margin-bottom: 40px;
	}
.contactProfile{
	box-shadow: 0 0 6px #555;
	margin-top: 225%;
	padding-left: 10%;
}
.realisation{
	margin: 0 auto;
	color: #fff;
	padding-top: 20px;
	box-shadow: 0 0 6px #555;
	margin-bottom: 40px;
	margin-top: 50px;
}

.contactProfile input{
	width: 40%;
	font-size : 16px;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	position: relative;
}

.profile a{
	text-decoration: none;
	color: #515151;
	font-size:16px;
}
.description{
	bottom: 20px;
	left: 22%;
	width: 350px;
	color: #515151;
	font-size: 14px;
	margin: 0 auto;
	position: absolute;
}

@media screen and (max-width: 425px) {
	.contactProfile{
		margin-top: 275%;
	}
}

@media screen and (min-width: 768px) {
	.contactProfile{
		box-shadow: 0 0 6px #555;
		position: absolute;
		left: 50%;
		top: 42%;
		margin-top: 0;
		padding-left: 5%;
	}
	.realisation{
		margin-top: 120%;
	}
}

@media screen and (min-width: 1024px) {
	.realisation{
		margin-top: 105%;
	}
}
